.fa.right-icon {
	margin-left: 25px;
}
.fa.left-icon {
	margin-right: 25px;
}
.button-item {
	margin: 20px 0;
}



.big-primary-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: #00a7d4;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	border: none;
	border-radius: 5px;
	border-bottom: 2px solid #007599;
	text-decoration: none;
}
.big-primary-button:hover {
	text-decoration: none;
	color: #fff;
	background: #03bff1;
	border-bottom: 2px solid #0197c4;
}
.big-primary-button:focus {
	text-decoration: none;
	color: #fff;
	background: #03bff1;
}
.big-primary-button:active {
	text-decoration: none;
	color: #fff;
	background: #00a7d4;
	/*border-top: 3px solid rgba(255,255,255,0);*/
	margin-top:2px;
	border-bottom: none;
}
.big-primary-button[disabled], .big-primary-button.disabled {
    background: #A1D8EA;
    border: medium none;
    color: #E6EDF3;
    cursor: default;
}
.med-primary-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: #00a7d4;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	border-bottom: 2px solid #007599;
	text-decoration: none;
}
.med-primary-button:hover {
	text-decoration: none;
	color: #fff;
	background: #03bff1;
	border-bottom: 2px solid #0197c4;
}
.med-primary-button:focus {
	text-decoration: none;
	color: #fff;
	background: #03bff1;
}
.med-primary-button:active {
	text-decoration: none;
	color: #fff;
	background: #00a7d4;
	/*border-top: 3px solid rgba(0,0,0,0);*/
	border-bottom: none;
	margin-top:2px;
}
.med-primary-button[disabled], .med-primary-button.disabled {
    background: #A1D8EA;
    border: medium none;
    cursor: default;
}

.small-primary-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: #00a7d4;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	border-bottom: 2px solid #007599;
	text-decoration: none;
}
.small-primary-button:hover {
	text-decoration: none;
	color: #fff;
	background: #03bff1;
	border-bottom: 2px solid #0197c4;
}
.small-primary-button:focus {
	text-decoration: none;
	color: #fff;
	background: #03bff1;
}
.small-primary-button:active {
	text-decoration: none;
	color: #fff;
	background: #00a7d4;
	/*border-top: 3px solid rgba(0,0,0,0);*/
	border-bottom: none;
	margin-top:2px;
}
.small-primary-button[disabled], .small-primary-button.disabled {
    background: #A1D8EA;
    border: medium none;
    cursor: default;
}




.big-tertiary-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: none;
	color: #00A7D4;
	display: inline-block;
	font-size: 24px;
	border: none;
	border-radius: 5px;
	border: 1px solid #00A7D4;
	text-decoration: none;
}
.big-tertiary-button:hover {
	padding: 7px 19px 5px 19px;
	text-decoration: none;
	color: #03bff1;
	border: 2px solid #03bff1;
}
.big-tertiary-button:focus {
	padding: 6px 18px 4px 18px;
	text-decoration: none;
	color: #03bff1;
	border: 3px solid #03bff1;
}
.big-tertiary-button:active {
	text-decoration: none;
	color: #0197c4;
	padding: 7px 19px 5px 19px;
	border: 2px solid #0197c4;
}
.big-tertiary-button[disabled],
.big-tertiary-button[disabled]:hover,
.big-tertiary-button[disabled]:active,
.big-tertiary-button[disabled]:focus,
.big-tertiary-button.disabled,
.big-tertiary-button.disabled:hover,
.big-tertiary-button.disabled:active,
.big-tertiary-button.disabled:focus {
	padding: 8px 20px 6px 20px;
    color: #d1d5da;
    cursor: default;
	border: 1px solid #d1d5da;
}


.med-tertiary-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: none;
	color: #00A7D4;
	display: inline-block;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	border: 1px solid #00A7D4;
	text-decoration: none;
}
.med-tertiary-button:hover {
	padding: 7px 19px 5px 19px;
	text-decoration: none;
	color: #03bff1;
	border: 2px solid #03bff1;
}
.med-tertiary-button:focus {
	padding: 6px 18px 4px 18px;
	text-decoration: none;
	color: #00A7D4;
	border: 3px solid #00A7D4;
}
.med-tertiary-button:active {
	text-decoration: none;
	color: #0197c4;
	padding: 7px 19px 5px 19px;
	border: 2px solid #0197c4;
}
.med-tertiary-button[disabled],
.med-tertiary-button[disabled]:hover,
.med-tertiary-button[disabled]:active,
.med-tertiary-button[disabled]:focus,
.med-tertiary-button.disabled,
.med-tertiary-button.disabled:hover,
.med-tertiary-button.disabled:active,
.med-tertiary-button.disabled:focus {
	padding: 8px 20px 6px 20px;
    color: #d1d5da;
    cursor: default;
	border: 1px solid #d1d5da;
}


.small-tertiary-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: none;
	color: #00A7D4;
	display: inline-block;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	border: 1px solid #00A7D4;
	text-decoration: none;
}
.small-tertiary-button:hover {
	padding: 7px 19px 5px 19px;
	text-decoration: none;
	color: #03bff1;
	border: 2px solid #03bff1;
}
.small-tertiary-button:focus {
	padding: 6px 18px 4px 18px;
	text-decoration: none;
	color: #00A7D4;
	border: 3px solid #00A7D4;
}
.small-tertiary-button:active {
	text-decoration: none;
	color: #0197c4;
	padding: 7px 19px 5px 19px;
	border: 2px solid #0197c4;
}
.small-tertiary-button[disabled],
.small-tertiary-button[disabled]:hover,
.small-tertiary-button[disabled]:active,
.small-tertiary-button[disabled]:focus,
.small-tertiary-button.disabled,
.small-tertiary-button.disabled:hover,
.small-tertiary-button.disabled:active,
.small-tertiary-button.disabled:focus {
	padding: 8px 20px 6px 20px;
    color: #d1d5da;
    cursor: default;
	border: 1px solid #d1d5da;
}




.big-secondary-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: #82b04c;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	border: none;
	border-radius: 5px;
	border-bottom: 2px solid #55871e;
	text-decoration: none;
}
.big-secondary-button:hover {
	text-decoration: none;
	color: #fff;
	background: #8dc24b;
	border-bottom: 2px solid #75a448;
}
.big-secondary-button:active {
	text-decoration: none;
	color: #fff;
	background: #82b04c;
	/*border-top: 3px solid rgba(0,0,0,0);*/
	border-bottom: none;
	padding: 8px 20px 6px 20px;
	margin-top: 2px;
}
.big-secondary-button:focus {
	text-decoration: none;
	color: #fff;
	background: #82b04c;
}
.big-secondary-button[disabled], .big-secondary-button.disabled {
    background: #c8dbc1;
    border: none;
    cursor: default;
}
.med-secondary-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: #82b04c;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	border-bottom: 2px solid #55871e;
	text-decoration: none;
}
.med-secondary-button:hover {
	text-decoration: none;
	color: #fff;
	background: #8dc24b;
	border-bottom: 2px solid #75a448;
}
.med-secondary-button:active {
	text-decoration: none;
	color: #fff;
	background: #82b04c;
	/*border-top: 2px solid rgba(0,0,0,0);*/
	border-bottom: none;
	margin-top: 2px;
}
.med-secondary-button:focus {
	text-decoration: none;
	color: #fff;
	background: #82b04c;
}
.med-secondary-button[disabled], .med-secondary-button.disabled {
    background: #c8dbc1;
    border: none;
    cursor: default;
}

.small-secondary-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: #82b04c;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	border-bottom: 2px solid #55871e;
	text-decoration: none;
}
.small-secondary-button:hover {
	text-decoration: none;
	color: #fff;
	background: #8dc24b;
	border-bottom: 2px solid #75a448;
}
.small-secondary-button:focus {
	text-decoration: none;
	color: #fff;
	background: #82b04c;
}
.small-secondary-button:active {
	text-decoration: none;
	color: #fff;
	background: #82b04c;
	/*border-top: 3px solid rgba(0,0,0,0);*/
	border-bottom: none;
	margin-top:2px;
}
.small-secondary-button[disabled], .small-secondary-button.disabled {
    background: #A1D8EA;
    border: medium none;
    cursor: default;
}




.big-muted-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: #9f9f9f;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	border: none;
	border-radius: 5px;
	border-bottom: 2px solid #696c6f;
	text-decoration: none;
}
.big-muted-button:hover {
	text-decoration: none;
	color: #fff;
	background: #c1c1c1;
	border-bottom: 2px solid #8f9498;
}
.big-muted-button:active {
	text-decoration: none;
	color: #fff;
	background: #8f9498;
	/*border-top: 2px solid rgba(0,0,0,0);*/
	margin-top:2px;
	border-bottom: none;
}
.big-muted-button:focus {
	text-decoration: none;
	color: #fff;
	background: #c1c1c1;
}
.big-muted-button[disabled], .big-muted-button.disabled {
    background: #d1d5da;
    border: none;
    cursor: default;
}
.med-muted-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: #9f9f9f;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	border-bottom: 2px solid #696c6f;
	text-decoration: none;
}
.med-muted-button:hover {
	text-decoration: none;
	color: #fff;
	background: #c1c1c1;
	border-bottom: 2px solid #8f9498;
}
.med-muted-button:active {
	text-decoration: none;
	color: #fff;
	background: #8f9498;
	/*border-top: 3px solid rgba(0,0,0,0);*/
	border-bottom: none;
	margin-top: 2px;
}
.med-muted-button:focus {
	text-decoration: none;
	color: #fff;
	background: #c1c1c1;
}
.med-muted-button[disabled], .med-muted-button.disabled {
    background: #d1d5da;
    border: none;
    cursor: default;
}

.small-muted-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: #9f9f9f;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	border-bottom: 2px solid #696c6f;
	text-decoration: none;
}
.small-muted-button:hover {
	text-decoration: none;
	color: #fff;
	background: #c1c1c1;
	border-bottom: 2px solid #8f9498;
}
.small-muted-button:focus {
	text-decoration: none;
	color: #fff;
	background: #c1c1c1;
}
.small-muted-button:active {
	text-decoration: none;
	color: #fff;
	background: #c1c1c1;
	/*border-top: 3px solid rgba(0,0,0,0);*/
	border-bottom: none;
	margin-top:2px;
}
.small-muted-button[disabled], .small-muted-button.disabled {
    background: #A1D8EA;
    border: medium none;
    cursor: default;
}


.big-overlay-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: rgba(0,0,0,0.2);
	color: #fff;
	display: inline-block;
	font-size: 24px;
	border: none;
	border-radius: 5px;
	border: 1px solid #fff;
	text-decoration: none;
}
.big-overlay-button:hover {
	padding: 7px 19px 5px 19px;
	background: rgba(0,0,0,0.2);
	text-decoration: none;
	color: #fff;
	border: 2px solid #fff;
}
.big-overlay-button:focus {
	padding: 6px 18px 4px 18px;
	text-decoration: none;
	color: #fff;
	border: 3px solid #fff;
}
.big-overlay-button:active {
	text-decoration: none;
	color: #fff;
	padding: 7px 19px 5px 19px;
	border: 2px solid #fff;
	background-color: rgba(0,0,0,0.3);
}
.big-overlay-button[disabled],
.big-overlay-button[disabled]:hover,
.big-overlay-button[disabled]:active,
.big-overlay-button[disabled]:focus,
.big-overlay-button.disabled,
.big-overlay-button.disabled:hover,
.big-overlay-button.disabled:active,
.big-overlay-button.disabled:focus {
	padding: 8px 20px 6px 20px;
    color: #929292;
    cursor: default;
	border: 1px solid #929292;
	background: none;
}
.med-overlay-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: rgba(0,0,0,0.2);
	color: #fff;
	display: inline-block;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	border: 1px solid #fff;
	text-decoration: none;
}
.med-overlay-button:hover {
	padding: 7px 19px 5px 19px;
	background: rgba(0,0,0,0.2);
	text-decoration: none;
	color: #fff;
	border: 2px solid #fff;
}
.med-overlay-button:focus {
	padding: 6px 18px 4px 18px;
	text-decoration: none;
	color: #fff;
	border: 3px solid #fff;
}
.med-overlay-button:active {
	text-decoration: none;
	color: #fff;
	padding: 8px 20px 6px 20px;
	border: 1px solid #fff;
	background: rgba(0,0,0,0.3);
}
.med-overlay-button[disabled],
.med-overlay-button[disabled]:hover,
.med-overlay-button[disabled]:active,
.med-overlay-button[disabled]:focus,
.med-overlay-button.disabled,
.med-overlay-button.disabled:hover,
.med-overlay-button.disabled:active,
.med-overlay-button.disabled:focus {
	padding: 8px 20px 6px 20px;
    color: #929292;
    cursor: default;
	border: 1px solid #929292;
	background: none;
}

.small-overlay-button {
	position: relative;
	padding: 8px 20px 6px 20px;
	background: rgba(0,0,0,0.2);
	color: #fff;
	display: inline-block;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	border: 1px solid #fff;
	text-decoration: none;
}
.small-overlay-button:hover {
	text-decoration: none;
	padding: 7px 19px 5px;
	color: #fff;
	background: rgba(0,0,0,0.2);
	border: 2px solid #fff;
}
.small-overlay-button:focus {
	text-decoration: none;
	color: #fff;
	background: rgba(0,0,0,0.2);
}
.small-overlay-button:active {
	text-decoration: none;
	color: #fff;
	background: rgba(0,0,0,0.2);
	border: 1px solid #fff;
	margin-top: 2px;
}
.small-overlay-button[disabled], .small-overlay-button.disabled {
    background: rgba(0,0,0,0.2);
    border: medium none;
    cursor: default;
}