/* Main style for all pages */
body {
	background: #e6edf3;
	color: #3d3d3d;
	font-family: "ff-dax-wide-web-pro-n4", "ff-dax-wide-web-pro", sans-serif;
	font-size: 10px;
}
ul, ol {
	padding: 0;
	margin: 0;
}
.block-odd {
	background: #F6FAFE;
	padding: 30px 0 0;
}
.block-even {
	padding: 30px 0 0;
}
.dax {
	font-family: "ff-dax-wide-web-pro-n4", "ff-dax-wide-web-pro", sans-serif;
}
.container {
	position: relative;
}
.container div.content {
	font-size: 1.6em;
}
.content {
	color: #727a80;
	padding-bottom: 30px;
}
.header-container {
	background: #EB9400;
	box-shadow: 0 5px 8px #333;
	position: relative;
	z-index: 2;
}
#header {
	font-family: "ff-dax-wide-web-pro-n4", "ff-dax-wide-web-pro", sans-serif;
	font-weight: 500;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.34);
	height: 120px;
}
#footer {
	background: #00A7D4;
	width:100%;
	height:100px;
	position:relative;
	bottom:0;
	left:0;
}
#logo {
	margin: 40px 25px 0 15px;
}
#page-title {
	margin-top: 53px;
	padding-left: 10px;
	color: #fff;
	border-left: 2px solid #fff;
	font-size: 2em;
	text-shadow: none;
}
.top-container {
	position: relative;
	text-shadow: 0 0 2px #666;
	background: url(../img/banner-employees.png) no-repeat;
	background-size: 100% auto;
	z-index: 1;
}
.top-text {
	font-size: 3.6em;
	font-weight: bold;
	color: #fff;
	margin-top: 20px;
	line-height: 1;
}
.top-container .login-form {
	position: relative;
	float: right;
	text-align: left;
	width: 350px;
}
.top-container .login-form-title {
	color: #fff;
	font-weight: bold;
	font-size: 1.8em;
}
.top-container .login-form input {
	width: 100%;
	background: none;
	border: 2px solid #fff;
	font-size: 2.8em;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 5px 10px;
	color: #fff;
}
.top-container .login-form .login-forgot-link {
	margin-bottom: 10px;
}
.top-container .login-form .login-forgot-link a {
	color: #fff;
	font-size: 1.6em;
}
.top-container .login-form .login-button button {
	width: 250px;
}
.top-container .login-error-msg {
	color: red;
	font-size: 1.8em;
	margin-bottom: 10px;
	margin-top: 5px;
	display: none;
	text-shadow: none;
}
.top-container .login-error-msg.valid {
	display: block;
}

.blue-container {

	z-index: 12;
	background: #00A7D4;
	padding-top: 20px;
	padding-bottom: 20px;
}

.blue-box {
		color: #fff;
}
.white-box {
	background: #f6fafe;
	box-shadow: 0 0 5px #666;
	overflow: hidden;
	padding: 40px;
	position: relative;
	z-index: 10;
	color: #727A80;
	margin-bottom: 20px;
	font-size: 1.6em;
}
.white-box-title {
	font-size: 1.5em;
	margin-bottom: 20px;
}
.white-box .contact-data {
	color: #00A7D4;
}
.white-box .par {
	margin-bottom: 10px;
}
.links-set {
	color: #fff;
	font-size: 1.4em;
	overflow: hidden;
	margin-bottom: 50px;
}
.links-set a {
	display: block;
	color: #fff;
	margin-bottom: 5px;
}
.links-set p {
	margin-bottom: 5px;
}
.links-set .links-set-title {
	font-weight: bold;
	margin-bottom: 10px;
}