.container {
	background: #e6edf3;
	box-shadow: 0px 0px 9px #777;
	overflow: hidden;
}

/* Breadcrumbs for steps */
.breadcrumbs {
	height: 80px;
	padding: 0;
	background: #0099c3;
	color: #527792;
	font-size: 24px;
}
.breadcrumbs a {
	text-decoration: none;
}
.breadcrumbs .step {
	height: 80px;
	padding-top: 12px;
	display: block;
	text-align: center;
}
.breadcrumbs .step span {
	display: block;
	font-size: 15px;
}
.breadcrumbs .complited {
	background: #00a7d4;
	color: #fff;
}
.breadcrumbs .active {
	background: url(../images/step-arrow.png) no-repeat center right #00a7d4;
	color: #fff;
}
.form-content {
	overflow: hidden;
    padding-top: 10px;
}
#personalDetailsForm .form-content {
    padding-top: 20px;
}
.apply-content {
	color: #727A80;
}
.apply-content a.apply-link, .simple-link {
	color: #00A7D4;
}
.form-content .form-item, .form-content .form-apply {
	margin-bottom: 20px;
	display: table;
	width: 100%;
	color: #727A80;
}
.form-content .questions-item {
	margin-bottom: 0;
}
.form-content .form-apply {
	margin-bottom: 10px;
}
.form-content .form-label {
	text-align: right;
	padding-right: 0;
	padding-top: 5px;
	color: #727a80;
}
.form-content .form-apply .form-label {
	padding-top: 0;
	text-align: left;
}
.form-content input[type="text"], .form-content input[type="date"], .form-content textarea, .form-content select {
	border: 1px solid #dedede;
	padding: 8px 5px 5px;
	border-radius: 5px;
}
.form-control[disabled], .form-control[readonly] {
	background: none;
	box-shadow: none;
	border: 1px solid #ccc !important;
	cursor: default;
}
.form-control[readonly].datepicker {
	background: #fff;
}
.form-content textarea {
	height: 120px;
	font-size: 14px;
}
.radio input[type="radio"] {
	float: none;
	margin-left: 0;
}
.radio {
	margin-top: 5px;
}
label {
	margin-right: 10px;
}
.form-content .super-tiny-field {
	width: 40px;
}
.form-content .tiny-field {
	width: 60px;
}
.form-content .short-field {
	width: 103px;
}
.form-content .mid-field {
	width: 180px;
	display: inline-block;
}
.form-content .long-field {
	width: 290px !important;
}

.form-content .email-long-field {
    display: inline-block;
}
.expanding-wrapper {
	width: 400px;
}
.white-container {
	background: #F6FAFE;
	overflow: hidden;
	padding-bottom: 30px;
}
.top-apply-block {
	padding-bottom: 30px;
}
.shadow-container {
	box-shadow: 0 3px 6px #bbb;
	background: #f6fafe;
}
.apply-white-container {
	margin-top: 40px;
	background: #f6fafe;
}
.payment-draft-radio .form-field {
	padding-left: 0;
}
.payment-draft-radio label {
	margin-right: 0;
}
.payment-draft-radio input[type="radio"] {
	margin-right: 20px;
}
.form-content .form-title, .big-text {
	color: #4e4e50;
	font-size: 24px;
	margin-bottom: 10px;
}
.step-1-content {
	/*margin-top: 20px;*/
}
.step-1-content .form-title {
	color: #727A80;
}
.options-form-title {
    margin-bottom: 10px;
}
.big-text {
	color: #727A80;
}
.form-buttons-container {
	margin-top: 40px;
	position: relative;
}
.form-buttons {
	position: relative;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 200px;
	background: #00a7d4;
	border-radius: 5px;
	font-size: 20px;
	color: #fff;
	display: block;
	text-decoration: none;
	border: none;
}
.form-buttons:hover {
	color: #fff;
	text-decoration: none;
}
.form-buttons .fa {
	font-size: 30px;
	position: absolute;
	top: 4px;
}
.form-back-button {
	margin-left: 50px;
}
.form-next-button {
	margin-right: 50px;
}
.form-back-button .fa {
	left: 10px;
}
.form-next-button .fa {
	right: 10px;
}
.form-disagree-button {
	position: absolute;
	left: 50%;
	width: 240px;
	top: 15px;
	margin-left: -120px;
}
.form-disagree-button .fa {
	padding-left: 10px;
}
.form-separator {
	height: 4px;
	background: #d3d9df;
	border-top: 2px solid #fff;
	margin-bottom: 30px;
}
.form-subtitle {
	font-weight: bold;
	margin-bottom: 20px;
	color: #727A80;
}
#mainCoverageForm {
	margin-bottom: -40px;
}

#coverageForm, #coverageForm {
	/*margin-top: 40px;*/
}
#coverageForm {
    margin: 0;
	/*display: none;*/
}
.coverage-table {
	width: 100%;
	margin-bottom: 40px;
	display: none;
}
.coverage-table.active {
	display: table;
}

.coverage-table.coverage-active {
	display: table;
}
.coverage-table td, .coverage-table th {
	padding: 10px;
	border-bottom: 1px solid #c4c5c6;
}
.coverage-table th {
	vertical-align: top;
}
.coverage-table-row.active {
	color: #00A7D4;
	font-weight: bold;
}
.coverage-table .action-btn { width: 100px;}
.coverage-table .button-edit, .coverage-table .button-delete {
	float: left;
	margin-right: 10px;
	font-size: 24px;
	color: #3D3D3D;
}
.coverage-form-button {
	width: 150px;
	padding: 6px 0 4px;
	width: 150px;
	text-align: center;
	color: #fff;
	background: #9f9f9f;
	font-weight: bold;
	float: left;
	border: none;
	border-radius: 5px;
	border-bottom: 3px solid #cbd1d6;
	font-size: 15px;
	cursor: pointer;
	margin-bottom: 15px;
}
.expand-coverage-row .fa {
	font-size: 30px;
	color: #00A7D4;
	line-height: 1;
	margin-top: -10px;
}
.coverage-hidden {
	display: none;
}
.coverage-active {
	display: block;
}
#discardChanges {
	margin-right: 100px;
}
#viewSummaryButton, #viewAdditionalFeatures {
	width: 95%;
}
#viewSummaryButton:hover,
#viewSummaryButton:focus,
#viewAdditionalFeatures:hover,
#viewAdditionalFeatures:focus {
	text-decoration: none;
	color: #fff;
}
#viewAdditionalFeatures {
	margin-top: 20px;
}
.read-information  {
	margin-bottom: 35px !important;
}
.checkbox-block .fa {
	margin-left: 20px;
	font-size: 30px;
	vertical-align: middle;
}
#emailApplication {
	width: 300px;
	display: inline-block;
}
.buttons-container {
	overflow: hidden;
	padding-top: 20px;
}





.big-blue-link, .big-white-link {
	position: relative;
	padding: 8px 30px 6px 30px;
	background: #00a7d4;
	color: #fff;
	display: inline-block;
	margin: 0 20px 20px 0;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	border-bottom: 3px solid #007599;
}
.big-blue-link:hover, .big-white-link:hover {
	text-decoration: none;
	color: #fff;
}
.big-blue-link:hover {
	text-decoration: none;
	color: #fff;
	background: #03bff1;
	border-bottom: 3px solid #0197c4;
}
.big-blue-link:focus {
	text-decoration: none;
	color: #fff;
	background: #03bff1;
	border-bottom: 3px solid rgba(0,0,0,0);
}
.big-blue-link:active {
	text-decoration: none;
	color: #fff;
	background: #00a7d4;
	border-top: 3px solid rgba(0,0,0,0);
	border-bottom: none;
}

.application-status-panel .big-blue-link {
	padding: 0.45em 2.5em 0.2em 1.5em;
}



.big-white-link:hover {
	color: #00A7D4;
}
.big-blue-link .fa, .big-white-link .fa {
	position: absolute;
	font-size: 19px;
	right: 10px;
	top: 10px;
}
.big-blue-link .fa.icon-left,.big-white-link .fa.icon-left {
	left: 10px;
	right: auto;
}
.big-white-link .fa {
	left: 10px;
	right: auto;
	top: 6px;
}
.big-blue-link[disabled], .big-white-link[disabled] {
	border-bottom: 3px solid;
	background: #A1D8EA;
	color: #E6EDF3;
	cursor: default;
}
.big-white-link, .big-white-link:active {
	/*background: #fff;*/
	background: none;
	border: 1px solid #00A7D4;
	color: #00A7D4;
	padding: 5px 25px 4px;
	margin-left: 20px;
	font-size: 16px;
	text-decoration: none;
}
.big-white-link:hover {
	border: 2px solid #00A7D4;
}
.edit-app-link {
	background: none;
	padding-right: 35px;
	padding-left: 20px;
	margin-left: 0;
	margin-top: 15px;
}
.edit-app-link .fa {
	right: 10px;
	left: auto;
}
.learn-more-btn, .learn-more-btn:active {
	font-size: 24px;
	padding-left: 35px;
	margin-left: 0;
	margin-top: 20px;
}
.learn-more-btn .fa {
	font-size: 30px;
}
.return-btn {
	margin: 20px 0;
	float: left;
}
.return-btn .fa {
	left: 10px;
	right: auto;
	font-size: 20px;
}
.application-details-title {
	font-size: 18px;
	padding-bottom: 10px;
}
.application-details-title-border {
	height: 2px;
	background: #A0A8AE;
	margin-bottom: 10px;
}
.app-item {
	margin-bottom: 20px;
}
.app-answer {
	margin-top: -15px;
	font-weight: bold;
}
.cancel-application-link, .edit-application-link {
	padding-right: 50px;
	white-space: nowrap;
}
.cancel-application-link {
	margin-right: 30px;
}
.col-left-app {
	margin-left: 20px;
}
.return-to-confirmation {
	margin-left: 15px;
}
.additional-features {
	display: none;
	margin-top: 20px;
}
.citizen-form {
	display: none;
}
.additional-features-visible, .citizen-form-visible {
	display: block;
}
.links-container, .form-mobile-buttons {
	overflow: hidden;
}
input.confirm-checkbox {
	margin-left: 20px;
}
.thank-you-btn {
	margin-bottom: 300px;
}
.form-content .login-form {
	margin-top: 40px;
}
.ssn-field, .ssn-button {
	display: inline-block;
}
.ssn-button {
	padding: 8px 15px 5px;
	background: #00A7D4;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	border-bottom: 2px solid #CBD1D6;
	border-radius: 0 5px 5px 0;
	margin-left: -3px;
	margin-right: 5px;
}
.ssn-fields .ssn-password {
	display: none !important;
}
.ssn-fields .ssn-text, .ssn-fields .ssn-password {
	margin-right: -3px !important;
}
.ssn-hidden .ssn-password {
	display: inline-block !important;
}
.ssn-hidden .ssn-text {
	display: none !important;
}
.ssn-full-container input, .ssn-full-container span {
	display: inline;
}
.bubble-img {
	width: 272px;
	height: 164px;
	background: url(../images/sorry_03.png) no-repeat;
	margin: 20px auto;
	position: relative;
}
.bubble-txt {
	text-align: center;
	color: #E6EDF3;
	line-height: 1;
	font-size: 44px;
	padding-top: 50px;
	padding-left: 8px;
}
.bubble-txt.med-txt  {
	font-size: 38px;
	padding-top: 56px;
}
.bubble-txt.small-txt {
	font-size: 24px;
}
.wb {
	padding: 25px 25px 15px;
	font-weight: bold;
	box-shadow: 0 2px 4px #aaa;
	background: #FCFEFF;
	margin: 30px 0 20px;
	color: #4e4e50;
	font-size: 15px;
}
.wb div {
	font-size: 20px;
}
.description-field2 {
	display: none !important;
}
.description-field2.active {
	display: inline-block !important;
}




.cp-main-content{
	overflow: hidden;
	padding: 0 -15px;
}
.cp-main-content, .cp-main-content .form-title {
	color: #727A80 !important;
}
.cp-sub-top {
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	/*margin: -15px;*/
	margin-top: 10px;
	/*border-radius: 0 !important;*/
}
.cp-upgrade-submit .cp-sub-top {
	background: #8DC24B;
}
.cp-submit-container {
	/*width: 200%;*/
}
.cp-sub-content {
	padding-bottom: 10px;
}
.cp-info-icon {
	font-size: 20px;
	margin-right: 15px;
}
.cp-bottom {
	margin-top: 20px;
	font-size: 15px;
	line-height: 1.5em;
}
.alert-message {
	display: none;
	color: #D32D08;
	margin-top: 25px;
}
.cp-single-content .cp-desc {
	margin-top: 50px;
}
.sample-check {
	margin-left: -10px;
	margin-top: 40px;
}
.sample-check img {
	width: 470px;
}
.payment-form-container {
	display: none;
}
.payment-form-container.active {
	display: block;
}
.payment-form-container-mobile {
	display: none;
}
.send-form-to-email {
	display: none;
}
.send-form-to-email.active {
	display: block;
}
.st-top {
    background: none repeat scroll 0 0 #8DC24B;
    border-radius: 3px 3px 0 0;
    color: #FFFFFF;
    font-size: 34px;
    overflow: hidden;
    padding: 7px 0;
    text-align: center;
}
.st-box {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.st-box-content {
	padding: 40px 20px 20px;
	background: #fff;
}
.st-1-table {
	width: 100%;
}
.st-1-table td {
	padding: 5px 0;
}
.st-1-table .fa, .st-item-gray .fa {
	margin-right: 10px;
	font-size: 18px;
}
.st-cell-first {
	width: 60%;
}
.st-subtitle {
	font-weight: bold;
	margin-bottom: 10px;
}
.st-item-gray {
	margin: 15px 0;
}
.st-box-gray {
	background: #F6FAFE;
	margin: 10px -20px -20px;
	padding: 20px 20px 20px;
}
.st-top-right {
	text-align: right;
	padding-right: 20px;
}
.st-small {
	font-size: 16px;
	margin-top: 10px;
}
.st-box-content-1 {
	padding: 20px 0 0;
	overflow: hidden;
}
.app-details .big-blue-link {
	margin-bottom: 20px;
}
.app-left-link .big-blue-link, .app-right-link .big-blue-link {
	padding-right: 35px;
	padding-left: 20px;
}
.app-left-link {
	padding-right: 0;
}
.app-right-link {
	padding-left: 0;
}
.app-details {
	padding-top: 20px;
}
.app-details .form-title {
	padding-top: 15px;
	padding-bottom: 15px;
}
.app-details .app-item {
	margin-bottom: 13px;
}
.next-button {
	margin-right: 50px;
}
.prev-button {
	margin-left: 50px;
}
.prev-button span, .next-button span {
	display: inline-block !important;
	padding: 0 10px;
}

._colaDesc {
	position: relative;
	display: inline-block;
}

.cp-items .cp-subitems td {
	font-size: 12px;
	/*padding: 4px 0;*/
}
.cp-items .cp-subitems td.cp-subitem {
	padding-left: 30px;
}
.opt-description {
	margin-top: 40px;
}
.slider-arrow {
	height: 36px;
	background: url(../images/arrow-with-shadow_03.png) no-repeat bottom center;
}
@media(max-width:1171px){

	#discardChanges {
		margin-right: 5px;
	}
	.coverage-form-button {
		width: 142px;
	}
}

@media(max-width:1099px){

	#discardChanges {
		margin-right: 5px;
	}
	.coverage-form-button {
		width: 142px;
	}

}



@media(max-width:767px){
	.cp-sub-content {
		padding: 10px 25px !important;
		border-radius: 0 !important;
	}
	.cp-sub-top {
		
	}
	.cp-basic-submit .cp-sub-content {
		/*background: #EB9400;*/
	}
	.cp-upgrade-submit .cp-sub-content {
		/*background: #8DC24B;*/
	}
	.cp-basic-submit, .cp-upgrade-submit {
		margin: 0 -15px;
	}
	.form-group label {
		text-align: left;
	}
	.payment-form-container-mobile.active {
		display: block;
	}
	.st-box-content-1 {
		padding: 20px;
	}
	.st-box-content-1 .big-white-link {
		margin: 0;
		width: 100%;
		text-align: center;
	}
	.app-status-title {
		margin-left: 0;
	}
	.app-left-link {
		padding-right: 15px;
	}
	.app-right-link {
		padding-left: 15px;
	}
	.form-content input[type="text"], .form-content input[type="date"], .form-content textarea, .form-content select {
		font-size: 16px;
	}
	.cp-submit-container {
		width: 200%;
	}
	.accept-offer-button {
		float: none !important;
		clear: both;
		width: 100%;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.return-btn {
		width: 100%;
	}
	.prev-button span, .next-button span {
		display: none !important;
	}
	.opt-description {
		margin-top: -10px;
	}
	.opt-out-button-mobile {
		margin-top: 20px;
	}
	.cp-single-sub-top span, .cp-sub-top {
		font-weight: normal;
		font-size: 20px;
	}
	.next-button {
		margin-right: 15px;
	}
	.prev-button {
		margin-left: 15px;
	}
	.slider-arrow {
		background: url(../images/arrow-with-shadow-mobile_03.png) no-repeat top center;
	}
}

