.tooltip {
  position: absolute;
  z-index: 999;
  min-width: 40px;
  /*white-space: nowrap;*/
  cursor: default;
  left: -1000;
  top: -1000;
  padding: 15px;
  /*font: bold 12px helvetica, tahoma, sans-serif;*/
  text-align: left;
  color: #ffffff;
  background: #00BAC0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -ms-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  max-width: 300px;
}
.tooltip:before {
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid #00BAC0;
}
.tooltip-t:before,
.tooltip-b:before {
  left: 50%;
  margin-left: -15px;
  display: block;
}
.tooltip-r:before,
.tooltip-l:before {
  margin-top: -15px;
  top: 50%;
  display: block;
}
.tooltip-tr:before,
.tooltip-br:before {
  left: 5px;
  margin: 0;
}
.tooltip-tl:before,
.tooltip-bl:before {
  left: auto;
  margin: 0;
  right: 5px;
}
.tooltip-rt:before,
.tooltip-lt:before {
  margin: 0;
  top: auto;
  bottom: 5px;
}
.tooltip-rb:before,
.tooltip-lb:before {
  margin: 0;
  top: 15px;
}
.tooltip-t:before {
  border-top-color: #00BAC0;
  border-bottom-width: 0;
  bottom: -15px;
}
.tooltip-b:before {
  border-bottom-color: #00BAC0;
  border-top-width: 0;
  top: -15px;
}
.tooltip-r:before {
  border-right-color: #00BAC0;
  border-left-width: 0;
  left: -15px;
}
.tooltip-l:before {
  border-left-color: #00BAC0;
  border-right-width: 0;
  right: -15px;
}
.tooltip-rt:before {
  border-right-color: #00BAC0;
}
.tooltip-lt:before {
  border-left-color: #00BAC0;
}
.tooltip-rb:before {
  border-right-color: #00BAC0;
}
.tooltip-lb:before {
  border-left-color: #00BAC0;
}
.tooltip-t:before,
.tooltip-b:before {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}
.tooltip-r:before,
.tooltip-l:before {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}
@media(max-width:767px){
	.tooltip {
		max-width: 200px;
	}
}